altair
annotated-types
anyio
appnope 
asttokens 
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
comm 
debugpy 
decorator 
distro
dnspython
exceptiongroup 
executing 
feedparser
filelock
fsspec
gitdb
GitPython
groq
h11
httpcore
httpx
hugchat
huggingface-hub
idna
importlib_metadata 
ipykernel 
ipython 
jedi 
Jinja2
jsonschema
jsonschema-specifications
jupyter_client 
jupyter_core 
lxml
markdown-it-py
MarkupSafe
matplotlib-inline 
mdurl
mpmath
nest-asyncio 
networkx
numpy
ollama
openai
packaging 
pandas
parso 
pexpect 
pickleshare 
pillow
platformdirs 
prompt-toolkit 
protobuf
psutil 
ptyprocess 
pure-eval 
pyarrow
pydantic
pydantic_core
pydeck
Pygments 
pymongo
python-dateutil 
python-dotenv
pytz
PyYAML
pyzmq 
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
sgmllib3k
six 
smmap
sniffio
soupsieve
stack-data 
streamlit
sympy
tenacity
tokenizers
toml
toolz
torch
tornado 
tqdm
traitlets 
transformers
typing_extensions 
tzdata
urllib3
validators
watchdog
wcwidth 
zipp 
